#main_horizontal_group {
    #stat-container {
        .info-label {
            width: 100;
            text-wrap: wrap;
        }
        .solid-box {
            width: 95%;
            height: auto;
            padding: 1 1;
            background: $panel 100%;
        }
        .container-menu-6x6 {
            height: auto;
            width: 100%;
            padding: 0 0 1 5;
            layout: grid;
            grid-size: 3 2;
        }
        Collapsible {
            margin: 0 2;
        }

        #container-dock {
            dock: top;
            height: auto;
            width: 100%;
            background: $surface 100%;
            border: tall $accent;
            margin: 1 1 0 1;

            #menu-title {
                offset-x: 80%;
                width: 40%;
                text-align: center;
                text-style: bold underline;
                background: $accent 12%;
                color: white;
                padding: 1 0 1 0;
            }

            StatusIndicator {
                padding-top: 1;
            }
        }

        #menu-container {
            Button {
                min-width: 25;
                margin-top: 1;
                min-height: 4;
            }
        }

        #location-collapsible {
            #map-preview-container {
                margin-left: 14;
                border: round $primary 40%;
                height: 20;
                width: 62;
            }
            #address_lbl {
                margin-bottom: 1;
            }
        }

        #log-collapsible{
            #richlog-logger {
                background: $surface 100%;
                height: auto;
                max-height: 15;
            }
        }
    }

    #image-container {
        border: ascii $primary;
        background: black;


        TabbedContent {
             ImageDisplay {
                width: auto;
                height: auto;
                offset: 0 -1;
            }
            Image {
                offset: 0 1;
                width: 100%;
                height: auto;
                max-width: 100%;
            }
            #compass-overlay-center-container {
                width: 100%;
                align: center middle;

                #cardinal-directions-image {
                    border: ascii black;
                }
                #red-cross-image {
                    height: 5;
                    width: 8;
                    offset: 46 -27;
                }
            }
        }

        #celestial-body-center-container {
            offset: -2 -55;
            text-align: center;
            width: 100%;
        }
        .pos_data_lbl {
            offset: 0 -11;
        }
        &.celestial-tab-active {
            #celestial-body-center-container {
                offset: -2 -48;
            }
            .pos_data_lbl {
                offset: 0 -4;
            }
        }
    }
}

