ConfirmationScreen {
    align: center middle;
    #dialog {
        border: thick $primary 40%;
        width: 80;
        height: auto;
        padding: 2 4;
        box-sizing: border-box;
        background: $surface;
    }

    #prompt {
        width: 100%;
        text-align: center;
        content-align: center middle;
        text-style: bold;
        padding: 0 0 2 0;
    }

    HorizontalGroup {
        align: center middle;
    }

    Button {
        margin: 0 5 0 5;
    }

    #red_btn {
        width: 1fr;
    }

    #green_btn {
        width: 1fr;
    }
}
