EphemerisesDownloadScreen {
    align: center middle;

    VerticalGroup {
        background: $surface 50%;
        height: auto;
        border: tall $error 80%;
        width: auto;
        padding: 1 2;
        border-title-color: $text;
        border-title-align: center;

        ProgressBar {
            width: auto;
            margin-top: 1;
        }

        #status {
            margin-top: 1;
            text-align: center;
            width: 100%;
        }

        Button {
            transition: background 0.2s;
            margin: 2 15 0 15;
            padding: 0 1 0 1;
        }
        Button:hover {
            background: red;
        }
    }
}