InputPromptScreen {
    align: center middle;

    Label {

    }

    Input {

    }

    HorizontalGroup {
        align: center middle;

        Button {
            margin: 0 5 0 5;
        }
        #submit_btn {
            width: 1fr;
        }
        #cancel_btn {
            width: 1fr;
        }
    }


}